/* Styling login and signup forms */
.input_group {
  margin: 5px 0;
}

.form_input {
  margin-left: 10px;
  border-radius: 5px;
}

.form_section_title {
  font-size: large;
}

.form_btn {
  border: 1px solid grey;
  border-radius: 5px;
  height: 36px;
  padding: 2px 15px 2px 15px;
  background-color: #f5f5f5;
  font-family: inherit;
  margin-top: 10px;
  cursor: pointer;
}
